@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&family=Whisper&family=Yatra+One&family=Yellowtail&display=swap');


:root{
    --heading: 'Playfair Display', serif;
}

* {margin: 0; padding: 0; box-sizing: border-box; background-color:rgb(255,255,255); font-family: "Roboto", sans-serif; color: #212322;}

h1{
  font-size: 2rem;
}

h2{font-family: var(--heading); text-align: center; padding: 3%; font-size:45px;}

h3{font-family: var(--heading);}

button{
  margin:5px; 
  padding:10px 25px; 
  font-size: 22px; 
  font-weight: 900;
  border: 1px #212322 solid; 
  transition: color 0.25s ease-out; 
  background-color: rgb(245, 197, 212);
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

/* Banner */

.banner{background-color: rgb(245, 197, 212); font-size: 14px; text-align: center; padding: 7px;}
#banner{background-color: rgb(245, 197, 212); }

#banner::before{content:"20% STUDENT DISCOUNT";
    animation-name:banner; animation-duration: 20s; animation-iteration-count: infinite;
    animation-delay: 0s; 
}

@keyframes banner {
    25% {content:"20% STUDENT DISCOUNT";}
    40% {content:"FREE DELIVERY FOR ORDERS OVER £80";}
    70% {content:"NEW CANARY WHARF STORE NOW OPEN!";}
    95% {content:"REFER A FRIEND FOR 15% OFF";}
}

@keyframes show{
    0% {
        opacity: 0;
    visibility: hidden;}
    50% {
        opacity: 0.5;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;}
    }



/* Header */

header * {color: black;}

header {display: flex; 
justify-content: space-between;
align-items: center; padding: 3px 2%; position: sticky !important; width: 100vw; font-size: 17px; top:0%; font-weight: bold;
box-shadow: 0 5px 15px rgba(0,0,0,0.66); z-index: 1;
}


.logo{
    cursor: pointer; margin-right: 2%; margin-left: 8%; font-family: 'Yatra One', cursive; font-size:32px;}

a{ text-decoration: none;
}

.navlinks li {display: inline-block; padding: 0px 14px;}

.navlinks li a:hover {
  transition: transform 0.25s ease-out;
  text-decoration: underline; font-weight:950; text-decoration-color:rgb(245, 197, 212);}

#sale:hover{text-decoration-color: red}


#sale{ color: red;}

i{
    margin:0px 10px; cursor: pointer;
}

.cart span{
background-color: black;
color: white;
border-radius: 50%;
display: flex;
position: absolute;
top: -8.5px;
right: -4px;
font-size: 0.6rem;
padding: 3px 6px;
}


#searchInput {
border-style: none none solid none; 
width: 35%; 
cursor: pointer; 
font-size: smaller; 
border: none; 
outline: none; 
translate: 12px;
}

.searchBar{
  display: inline;
  transition: width 0.5s cubic-bezier(0.9,0,0.3,0.9);}

.cart{display: inline;position: relative;}

#glassOne{
  color: #212322;
  translate: 20px;
}

.fa-bag-shopping{
  font-size: 19px;
}
.containerSearch{
  margin:-2%;
}


/* Overlay search bar */
#overlayContainer{
  background-color: white;
  height: 100%;
  width: 25%;
  right: 0;
  z-index: 999;
  position: absolute;
  visibility: hidden;  
  overflow: hidden;
}

.overflowHidden{
  overflow: hidden;
}

#overlaySearch{
  border: none;
  outline: none;
  width: 80%;
  font-size: 16px;
}

#overlayHeader {
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 100%;
  border-width: 100%;
  padding: 31px 35px;
}


/* Overlay Cart */
#cartContainer{
    background-color: white;
    height: 100%;
    width: 25%;
    right: 0;
    z-index: 999;
    position: absolute;
    visibility: hidden;  
    overflow: hidden;
  }
  
  .overflowHiddenTwo{
    overflow: hidden;
  }
  
  #overlayCart {
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 100%;
    border-width: 100%;
    padding: 31px 40px;
  }
  
  #overlayCart h4{
    display: inline;
  }

  #emptyCart{
    text-align: center;
    margin-top: 70%
  }

/* Main Images */
 
.mainImgs{display: flex; width: 100vw;}
#img1, #img3 {width:35vw; height:620px; padding: 0%; margin: 0%;}
#img2 {width:30vw; height:620px;}


/* Winter Sale */
.winterSale {background-color: #fcf3e0; padding: 20px; text-align: center;}
.winterSale p {background-color: #fcf3e0; 
  font-size: 40px; 
  text-align: center; 
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 800;
}
.winterSale button:hover{color:rgb(255,255,255);}


/* Qualities */

.qualities{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 20px 40px 40px;
}

.qualities i{
  font-size: 50px; text-align: center;
}

.qualities p{
  font-size: 26px; 
  font-family:'Saira Extra Condensed', sans-serif; 
  font-weight: 500;
  margin-top: 20px;
}


/* Our Collections*/

.parent-container{
  display: flex;
  flex-wrap: wrap;
  padding-right: 0px;
  justify-content: space-evenly;
 
}
.imagesCollections img{
  width: 332px;
  height:414px;
  transition: opacity 0.7s ease-out; 
}

.imagesCollections img:hover{
  opacity: 0.8;
}

.imagesCollections{
position: relative; 

}
.image-text {
  position: absolute;
  top:45%;
  left:0;
  width:100%;
  background-color: transparent;
  filter: drop-shadow(0 0 0.75rem black);
  
}
.image-text h3{
  color: #FFFFFF; background-color: transparent; font-size: 1.7rem; text-align: center;
}


/* New & Bestsellers */

#newBestellers button{
  background: transparent;
  border: none;
  color: #212322;
  opacity: 0.7;
  font-weight: 400;
}


.switch{
  text-align: center; 
  margin-bottom: 30px; 
}

#newBestellers h2{
  padding-bottom: 0%;
  padding-top: 4%;

}

.containerNew img, .containerBestsellers img {
  width:335px;
  height: 400px;
  object-fit: cover;
  padding: 0 10px;
  cursor: pointer;
  }



.imgContainer {
    position: relative;
}

.imgContainer button{
    position: absolute;
    width: 90%;
    height: 43px;
    bottom:5px;
    right: 12px;
    background-color: #FFFFFF !important;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2mm;
    visibility: hidden;
}

.imgContainer:hover .add{
    opacity: 1 !important;
    visibility: visible;
}  

.containerNew, .containerBestsellers{
  display: none; 
  padding: 0 15px 25px 15px;
  justify-content: space-evenly;
  }

.containerNew h4, .containerBestsellers h4{
  text-align: center; margin: 5px;
  }

.active {
  font-weight: 600 !important;
  color: #212322 !important;
  opacity: 1 !important;
  border-bottom: rgb(245, 197, 212) 2px solid !important;
}

.activeContainer {
  display:flex !important;
  flex-wrap: wrap;
}



/* Frequently Asked Questions */

#questions h2 {
  background-color: #fcf3e0;
  margin-top: 50px;
  padding-top: 70px;
}

.containerQuestions{
  background-color: #fcf3e0;
  text-align: center;
  padding-bottom: 20px;
}

.questionsContent p {
  background-color: #fcf3e0;
  width: 650px;
  padding:10px;
  line-height: 25px;
}
.questionsContent{
  background-color: #fcf3e0; 
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;}

.collapsible {
  background-color: #9b907831;
  border: none;
  text-align: center;
  padding: 18px;
  width: 668px;
  font-size: 18px;
  margin: 0px;
}
.collapsible:after {
  content: '\02795'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.activeQuestions:after {
  content: "\2796"; 
}

.activeQuestions, .collapsible:hover{
  background-color: #9b9078a2;
}






/* Reviews */
#reviews * {
	background-color: #fcf3e0;
}

.reviews {
	padding-bottom: 50px;
}

.reviews h2 {
	padding-bottom: 2%;
}

.star {
	letter-spacing: -15px;
	font-size: 18px;
}

.reviewsScrollableContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	min-height: 370px;
    overflow-x: hidden;
}

.reviewsContent {
	width: 620px;
    height: 350px;
	margin: 10px;
	border: 1px rgba(0, 0, 0, 0.2) solid;
	padding: 25px;

}

.reviewsContent p {
	font-family: 'Playfair Display', serif;
	line-height: 1.5;
}

.reviewsContent h3 {
	line-height: 3;
}

.reviewsContent .pName{
    margin-top:30px;
}

.reviewsContent .daniela{
    margin-top:70px;
}
#endHeading {
	font-family: 'Saira Extra Condensed', sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-size: 2rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	background-color: #f5c5d4ac;
	background-size: 100px
}

.reviewsScrollableContainer button {
	width: 30px;
	height: 30px;
	padding: 2px;
	margin: 0;
	position: absolute;
	border: none;
}
#next {
	bottom: 48%;
	right: 75px;
    z-index: 999;    
}

#previous {
	bottom: 48%;
	left: 50px;
	visibility: hidden;
    z-index: 999;    
}

/* 
#div1{
    display:flex;
}
#div2, #div3 {
    display:none;
} */

.customerSayDiv {
	display: flex;
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
}

.customerSayDiv.left {    
    transform: translate(-100%, 0);
}

.customerSayDiv.right {    
    transform: translate(100%, 0);
}


/* Newsletter */
#newsletter {
  padding: 40px 80px;
  margin: 40px 0;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  margin-bottom: 0%;
}

#newsletter h4{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 2px;
}

#newsletter p{
  font-size: 18px;
  font-weight: 600;}
  
#newsletter .form{
  display:flex;
  width: 40%;
}

#newsletter input{
  margin: 0%;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  border: 1px rgba(0,0,0,0.1) solid ;
  outline: none;
}

.form button{
  margin: 0%;
}

.form button:hover{color:rgb(255,255,255);}



/* Footer */

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 80px;
}



footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 15px;
  padding-bottom:20px;
  font-weight:900;
}


footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
 
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color:#222;
  margin: 0 0 8px 0;
 
}

footer .follow{
  margin-top: 20px;
}


footer .follow i{
  color: #222;
  cursor: pointer;
  padding-right: 4px;
}

footer .iconGateways i{
  font-size: x-large;
}

footer .payments i{
  margin: 5px 10px 15px 0;
}



.copyright{
  text-align: center;
  margin-top: -30px;
}
.copyright p{
  font-size: xx-small;
}

/*___________________________________________________________________________________*/

/* Sale */

.containerSale img{
    width:335px;
    height: 400px;
    object-fit: cover;
    padding: 0 10px;
    cursor: pointer;
  

}

.containerSale{
    display: flex; 
    padding: 0 15px 25px 15px;
    justify-content: space-evenly;
    margin-top: 50px;
    }

.containerSale h4{
    text-align: center;
}

.headerSale img{
    width:100vw;
    height: 30vh;
    object-fit: cover;
}



/*___________________________________________________________________________________*/

/* About Us */
.aboutHeading{
  padding: 0px 60px;
  text-align: center;
  background-color:#fcf3e0 

}

.aboutHeading h2{
    background-color:#fcf3e0 ;
    font-size: 3rem;

}

#aboutUs p{
    padding: 5%;
}
